<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkMath</title>

    <link rel="stylesheet" href="/src/public/css/wokMath.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>

    <header class="header border">
        <nav class="nav">
            <div class="nav-container">
                
                <div class="nav-left">
                    <a class="logo" href="#">
                        <img class="img-logo" src="/src/public/img/logo-math.png" alt="not found">
                        WorkMath
                    </a>
                </div>

                <div class="nav-right">
                    <button class="btn btn-md btn-primary btn-push-primary btn-hover-push-primary col-5" type="button">Empieza ahora</button>
                </div>
            </div>
        </nav>
    </header>

    <!-- CONTENT PAGE -->
    <main class="contaiener border">
        <section class="seccion">
            <div class="seccion-img">
                <img class="img-portada-principal" src="/src/public/img/portada-math.webp" alt="not found file">
            </div>
            
            <div class="seccion-text-portada">
                <p class="text-portada">
                    ¡La forma divertida, efectiva y gratis de aprender un idioma!
                </p>
            </div>
        </section>
    </main>

    <footer class="footer border">
        <div class="contetn-footer">
            Pie de pagina
        </div>
    </footer>
    
</body>
</html>