:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-blue: #4D6991;
    --color-blue-easy: #CDE6F7;
    --color-red: #d42929;
    --color-gray: #979696;
    --color-gray-easy: #6f6f6f;
    --color-white-egg: #eae2e2;
    --color-white-easy: #F8F8F8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--color-white);
    text-align: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    display: flex;
    width: 100%;
    height: 4rem;
    background-color: var(--color-blue);
}

.nav .logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20%;
    z-index: 10;
}

 .figure-logo{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.nav-logo {
    position: relative;
    width: 58%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .nav-cont-list{
    min-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .nav-cont-list .nav-ul {
    display: flex;
    min-width: 80%;
    justify-content: flex-end;
    padding: 0.2rem;
}

.nav .nav-cont-list .nav-ul .item-access{
    margin: 0 .5rem;
}

.nav .nav-cont-list .nav-ul .item-access, .item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.2rem;
    height: 2.2rem;
    font-size: 1.115rem;
    font-weight: 500;
    color: var(--color-white);
}

.nav .nav-cont-list .nav-ul .item-access > .item-link {
    background: transparent;
    transition: all ease-in-out 0.3s;
}

.nav .nav-cont-list .nav-ul .item-access > .item-link:hover {
    background: var(--color-white);
    color: var(--color-blue);
    font-weight: 600;
    border-radius: 8px;
    transform: scale(1.1)translateY(10%);
}

.container {
    width: 100%;
    height: calc(100% - 22%);
}

/* CONTAINER MIDLE */
.container-midle{
    position: relative;
    height: 80%;
}

figure, .img-portada{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}



/* CONTAINER SM (SMALL) */
.container-sm{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 35%;
    width: 100%;
    /*padding: 0.1rem;*/
    background-color: var(--color-white-egg);
}

.cont-btn {
    flex-grow: 6;
    padding: 0.2rem 0;
}



/* ZONE BUTTON'S*/
.btn{
    position: relative;
    text-align: left;
    border: none;
    border-radius: 5px;
    padding: 1rem 0 0 0.5rem;
    display: flex;
    flex-direction: column;
}

.btn > a{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: ease-out all 0.3s;
    padding: 2.2rem 0 0 0.5rem;
    border-radius: 5px;
}

.btn > .placeholder {
    position: absolute;
}

.btn-md {
    width: 250px;
    height: 100%;
    margin: 0.050rem 0 0 0;
}

.btn-default {
    background-color: var(--color-white);
    color: var(--color-blue);
}



.btn-font-1{
    font-size: 1.2rem;
    font-weight: 500;
}

/*BTN HOVERS*/
.btn-hover-1:hover{
    color: var(--color-white);
    background-color: var(--color-blue);
    transform: scale(0.9);
}


/* PARRAFOS DENTRO Y FUERA */
.placeholder {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    margin: 0.6rem 0 0 0;
}


/*<-------------CATALOGOS------------->*/
.catalogo {
    width: 100%;
    height: 738px;

    border: 1px solid var(--color-black);
}

.main {
    position: relative;
    width: calc(100% - 85%);
    height: calc(100% - 9%);
    display: flex;
    flex-direction: column;
    background-color: var(--color-white-easy);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.main .name-list-opc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4%;
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--color-black);
}

.main .name-list-opc > a {
    display: block;
    min-width: 80%;
    max-width: 50%;
    line-height: 1.4;
    font-weight: 600;
    font-size: 1rem;
    height: 100%;
}

.main .name-list-opc > i {
    line-height: 1.4;
    font-weight: 600;
    font-size: 1rem;
    display: block;
    min-width: 20%;
    max-width: 50%;
    height: 100%;
}

.main .panel-list {
    width: 100%;
    height: 66%;

    border: 1px solid var(--color-black);
}

.main .panel-list > ul {
    width: 100%;
    height: 100%;
    margin: 0.2rem 0 0 0;
    justify-content: space-between;
}

.main .panel-list > ul > li > div{
    width: 100%;
    display: flex;
    height: 1.3rem;
    align-items: center;

}

.main .panel-list > ul > li > div > i{
    width: 10%;
    height: 100%;
    font-size: 1.1rem;
    text-align: center;
    justify-content: center;
}

.main .panel-list > ul > li > div > a{
    width: 90%;
    height: 100%;
    font-size: 0.9rem;
    color: var(--color-black);
}

.main .panel-list > ul > li > div > i, a {
    display: flex;
    align-items: center;
}

.main .control-list {
    width: 100%;
    height: 30%;
    display: flex;

    border: 1px solid var(--color-black);
}

.main .control-list > ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.main .control-list > ul > li > div{
    width: 100%;
    display: flex;
    height: 2.5rem;
    align-items: center;
}

.main .control-list > ul > li > div > i{
    width: 20%;
    height: 100%;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
}

.main .control-list > ul > li > div > a{
    width: 80%;
    height: 100%;
    font-size: 1rem;
    color: var(--color-black);
}

.main .control-list > ul > li > div > i, a {
    display: flex;
    align-items: center;
}

.select:hover{
    background-color: var(--color-blue-easy);
}


/* Pendiente el color del icon */
.select > .click:active {
    color: var(--color-blue-easy);
}

/* CATALOGO USO DE ID'S*/
.ul.catalogo {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* RESPONSIVO MOVIL */
@media (max-width: 750px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .container-midle {
        width: 100%;
        height: 45%;
    }
    .container-midle .img-portada {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border: 1px solid red;
    }

    .container-sm {
        position: relative;
        width: 100%;
        height: 55%;
        overflow-y: scroll;

        border: 1px solid var(--color-black);


    }

    .cont-btn{
        width: 100%;
        flex-grow: 2;

    }

    .btn {
        position: relative;
        width: 200px;
        height: 100px;

    }
}

.color {
    color: blue;
    font-size: 25rem;
}
/* Delete desing default */
ul { list-style: none; }
a { text-decoration: none; }